@charset "utf-8";
/* CSS Document */


h1,h2,h3,h4,h5{    font-family: 'fzjt','Microsoft yahei"','微软雅黑',Arial, Helvetica, sans-serif;}
li,ul{ list-style:none; padding:0; margin:0;}
.pt20{ padding-top:20px;}
.wallpapers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video video {
    position: fixed;
    left: 50%;top:-6%;
	/*top:-13.5%;*/ bottom:0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); opacity:1;
}

html,body{ background:#000 !important; font-family:'fzjt','Microsoft yahei"','微软雅黑',Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    color:#fff;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    line-height: 1.53846;}
	
a {	color: #fff;
	text-decoration: none;
}

a:hover, a:focus { background:none !important;
	color: #fff;
	text-decoration: none;

}
.navbar{ border:none}
.contwp{ position:absolute; z-index:99; padding-top:220px;  text-align:center; width:100%;}
.navfx{ position:fixed; background:rgba(0,0,0,.8); top:0;left:0;right:0; z-index:999;}
.infotext{ width:400px; margin:0 auto; padding-top:30px; min-height:600px; overflow:hidden; opacity:.8; padding-bottom:300px; }
.infotext .text{ fill:#fff; font-family:'fzjt','Microsoft yahei"','微软雅黑',Arial, Helvetica, sans-serif;}
a.navbar-brand>img{ opacity:.5}
a.navbar-brand:hover>img{ opacity:1}
.navbar-nav>li>a{ color:#fff; opacity:.5; }
.dropdown-menu{ right:0 !important; left:auto !important; background:rgba(0,0,0,.4); text-align:right;}
.dropdown-menu>li>a{ color:#999; font-size:17px;     padding: 10px 20px;}
.dropdown-menu>li>a:hover{ color:#fff}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{ background:none; border: none}
.zoom{ overflow:hidden}

.pt60{ padding-top:60px;}
.pb60{ padding-bottom:60px;}
.contsele{ display:block; margin:0 -15px; background:#000; min-height:400px; overflow:hidden }
/*@media screen and (max-width:619px) {
	.imgbox {width:310px;}
}
@media screen and (min-width:620px) and (max-width:929px) {
	.imgbox {width:620px;}
}
@media screen and (min-width:930px) and (max-width:1239px) {
	.imgbox {width:930px;}
}
@media screen and (min-width:1239px) and (max-width:1550px) {
	.imgbox {width:1239px;}
}
@media screen and (min-width:1550px) and (max-width:1859px) {
	.imgbox {width:1550px;}
}
@media screen and (min-width:1860px) {
	.imgbox {width:1860px;}
}
.imgbox{ margin:0 auto}*/

.cont1{ background: url(../images/bg2.jpg) no-repeat left top;}
.imgbox li{ float:left; margin:4px; width:300px; height:220px; overflow:hidden; position:relative}
.imgbox li a { }
.imgbox li a h3{ font-size:14px; font-weight:200; line-height:100%; margin-top:15px; display:none}
.imgbox li a:hover h3{ position:absolute; top:-15px;left:0;right:0; display:block; background:rgba(0,0,0,.4); height:220px; line-height:200px; }
.imgbox li a img{ opacity:.6; }
.tith2 p{ opacity:.7; font-size:15px; line-height:180%;}

.col-md-2{ width: 19.66666667%;   }
.continfo h4{ font-size:15px; opacity:.5; padding-top:5px;}
.continfo p{ opacity:.7; font-size:15px; line-height:180%;}
.continfo p a{ border:solid 1px #eee; font-size:14px; padding:2px 30px; opacity:.7; display:inline-block; margin-top:10px;
 -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.continfo p a:hover{ opacity:1}
/*.contactbox{border:solid 3px rgba(255,255,255,.2); padding:20px;  margin:20px auto; width:640px;}
.contact{ border:solid 1px rgba(255,255,255,.2); width:600px; height:200px; background:rgba(0,0,0,.17); text-align:left; padding-top:50px; padding-left:150px; }
*/
.tith2 p.contact{ opacity:1; padding-top:200px; text-align:left }
.tag-cloud { padding-top:20px; min-height:200px;}
.tag-cloud a {
    color: #959595;
    line-height: 1.5em;
    display: block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.tag-cloud a:hover{ color:#fff;}
.copyright{ color:#fff; opacity:.7 }


.continfo figure{
position: relative;
overflow: hidden;
width: 100%;
height: 180px;
}
.continfo figcaption{
position: absolute;
top: 0;
left: 0;
z-index: 2;
width: 100%;
height: 100%;
-webkit-transition: .3s;
transition: .3s;
opacity: 0;
}



.atm_bt01, .atm_bt02, .atm_bt03, .atm_bt04 {
    height: 220px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  
	
}

.atm_bt01{ background: url(../images/upimg/byt19.jpg) no-repeat;}
.atm_bt02{ background: url(../images/upimg/byt.jpg) no-repeat;}
.atm_bt03{ background: url(../images/upimg/byt15.jpg) no-repeat;}